.navbar {
    border-radius: 30px;
    margin: auto;
    margin-top: 50px;
    background-color: #144D3A;
    height: 60px;
    line-height: 60px;
    top: 0;
    width: 60vw;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a:not(.logo) {
    color: #C5FACC;
    font-size: 16px;
    text-decoration: none;
    border-radius: 23px;
    width: 140px;
    height: 35px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a:hover:not(.logo) {
    background-color: #C5FACC;
    color: #144D3A;
}

.navbar a:not(.logo).active::before {
    content: ".";
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    padding-bottom: 10px;
}