.header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    height: 60px;
    line-height: 60px;
    top: 0;
    width: 100vw;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header a {
    background-color: #144D3A;
    color: #C5FACC;
    font-size: 16px;
    text-decoration: none;
    border-radius: 23px;
    width: 140px;
    height: 35px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header a:hover {
    background-color: #C5FACC;
    color: #144D3A;
}

/* if .active add "." like list before text */
.header a.active::before {
    content: ".";
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    padding-bottom: 10px;
}