.template {
    margin-bottom: 30px;
}

.template-list {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    color: #000;
    font-family: Bricolage Grotesque;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: lowercase;
}