body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #144D3A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container {
  background-color: #F9F2DE;
  height: 100vh;
  padding-top: 50px;
}

:root {
  --color_primary: #144D3A; 
  --color_secondary: #C5FACC;
  --color_tertiary: #FFB537;
  --color_quatinary: #F9F2DE;
}

* {   
  padding: 0;
  margin: 0;
}